@use "sass:map";
@use "./../2-lib/tokens.scss";
@use "./../1-tokens/tokens-core.scss";
@use "./../1-tokens/tokens-color.scss";

body {
    overflow-x: hidden;
    --note-icon-1: url(/img/tree-1.svg);
    --note-icon-2: url(/img/tree-2.svg);
    --note-icon-3: url(/img/tree-3.svg);
    --note-icon-fallback: url(/img/default-note-icon.svg);
    --graph-main: var(--text-accent);
    --graph-muted: var(--text-muted);
}

$color: null !default;

:root {
  @include tokens.build(tokens-core.$tokens);
  @include tokens.build(tokens-color.build($color, $dark: false));
}

body {
  &[data-theme="dark"] {
    color-scheme: dark;
    @include tokens.build(tokens-color.build($color, $dark: true));
  }

  &[data-theme="system"] {
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
      @include tokens.build(tokens-color.build($color, $dark: true));
    }
  }
}
